.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.wait {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.btn-home {
    cursor: pointer;
    margin-left: 50px;
}

.btn-home:hover {
    
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-order {
    margin-top: 10px;
}

.btn-order:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.table {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}
